
{require_otp_vsn, "R?1(7|8)"}.
%{require_min_otp_vsn, ".*"}.

{erl_opts,
    [
      debug_info, fail_on_warning
    , { parse_transform, lager_transform }
    ] }.
    
{recursive_cmds, [clean, compile, xref, ct, generate, 'get-deps']}.

{port_env,
    [ {"linux", "CXX", "ccache g++"}
    , {"linux", "CC", "g++"}    % CC is used to link
    , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11 -I c_src/ -I /usr/lib/erlang/lib/erl_interface/src/"}
    , {"linux", "EXE_LDFLAGS", "$EXE_LDFLAGS  -lcrypto -lboost_system"}
    ] }.

{port_specs,
    [
      { "linux", "ebin/fswatcher"
      , [ "c_src/fswatcher/main.cpp"
        , "c_src/eixx/am.cpp"
        ]
      }

%    , {"linux", "priv/hello_linux", ["c_src/*.c"], [{env, []}]}
    ] }.            


{lib_dirs, ["deps"]}.

{sub_dirs, [ "src"
		   , "apps/erlx_snowflake"
		   , "apps/erlx_sysconfig"
		   , "apps/erlx_fswatcher"
		   ] }.


{deps_dir, ["deps"]}.
{deps, [
         {goldrush,             ".*", {git, "git://github.com/DeadZen/goldrush.git",            {tag, "0.1.7"}}}
       , {lager,                ".*", {git, "https://github.com/basho/lager.git",               {tag, "3.0.0-RC1"}}}
       %, {edown,                ".*", {git, "https://github.com/esl/edown.git",                 {tag, "0.4"}}}
       %, {parse_trans,          ".*", {git, "https://github.com/esl/parse_trans.git",           {tag, "2.8"}}}
       , {jiffy,                ".*", {git, "https://github.com/davisp/jiffy.git",              {tag,"0.13.3"}}}
       
       %, {eper,                 ".*", {git, "https://github.com/massemanet/eper.git",          {tag, "0.91.0"}}}
       %, {tx,                   ".*", {git, "https://github.com/kvakvs/tx.git"}}
       
       , {ranch,                ".*", {git, "https://github.com/ninenines/ranch.git",           {tag, "1.1.0"}}}
       , {cowlib,               ".*", {git, "https://github.com/ninenines/cowlib.git",          {tag, "1.3.0"}}}
       , {gun,                  ".*", {git, "https://github.com/ninenines/gun.git",             {tag, "1.0.0-pre.1"}}}
       
       %, {msgpack,              ".*", {git, "https://github.com/msgpack/msgpack-erlang.git",    {tag, "0.3.4"}}}
       %, {cowboy,               ".*", {git, "https://github.com/ninenines/cowboy.git",          {tag, "1.0.2"}}}
       %, {leptus,               ".*", {git, "https://github.com/s1n4/leptus.git",               {tag, "0.4.2"}}}
       
       %, {riak_dt,              ".*", {git, "https://github.com/basho/riak_dt.git",             {tag, "2.1.0"}}}
       ] }.

