%
% toplevel/rebar.config
%

%{ relx
%, [ {release, {beamy, "1.0.1"}, [beamy, beamtools]}
%
%  , {dev_mode, true}
%  , {include_erts, false}
%  , {system_libs, false}
%  , {include_src, false}
%
%  , {extended_stat_script, true}
%  ]
%}.


{ deps
, [ {lager, "3.2.1"}
  ]
}.



{ erl_opts
, [ debug_info
%  , warnings_as_errors
  , { parse_transform, lager_transform }
  ]
}.

{validate_app_modules, true}.


{ plugins
, [ pc
  , rebar3_auto
  , rebar3_hex
  , { rebar3_escript2, ".*"
    , { git
      , "https://github.com/badmonkey/rebar3_escript2.git"
      , {branch, "master"}
      }
    }
  , { rebar_tidy_deps, ".*"
    , {git, "https://github.com/kellymclaughlin/rebar3-tidy-deps-plugin.git", {tag, "0.0.2"}}
    }
  , { rebar3_tags_plugin, ".*"
    , {git, "https://github.com/kanyukaaa/rebar3_tags_plugin.git", {branch, "master"}}
    }
  ]
}.


{ yrl_opts
, [ {verbose, true}
  ]
}.


{ dialyzer
, [ {warnings, [underspecs, no_return]}
  , {get_warnings, true}
  , {plt_apps, top_level_deps}      % top_level_deps | all_deps
  , {plt_extra_apps, []}
  , {plt_location, local}           % local | "/my/file/name"
  , {plt_prefix, "rebar3"}
  , {base_plt_apps, [stdlib, kernel, crypto]}
  , {base_plt_location, global}     % global | "/my/file/name"
  , {base_plt_prefix, "rebar3"}
  ]
}.

