
{require_otp_vsn, "R?17"}.
%{require_min_otp_vsn, ".*"}.

{erl_opts,
	[
	  debug_info, fail_on_warning
	, { parse_transform, lager_transform }
	] }.
{recursive_cmds, [clean, compile, xref, ct, generate, 'get-deps']}.

{port_env,
    [
      {"CFLAGS", "$CFLAGS -Ifoo"}
    , {"freebsd", "LDFLAGS", "$LDFLAGS -lfoo"}
    ] }.
%{port_specs,
%    [
%      {"priv/so_name.so", ["c_src/*.c"]}
%    , {"linux", "priv/hello_linux", ["c_src/hello_linux.c"]}
%    , {"linux", "priv/hello_linux", ["c_src/*.c"], [{env, []}]}
%    ] }.            


{lib_dirs, ["deps"]}.

{sub_dirs, [ "src"
           ] }.


{deps_dir, ["deps"]}.
{deps, [
         {goldrush,             ".*", {git, "git://github.com/DeadZen/goldrush.git", {tag, "0.1.6"}}}
       , {lager,                ".*", {git, "https://github.com/basho/lager.git"}}
       ] }.

