
{so_name, "fswatcher"}.
{port_sources, ["c_src/*.cpp"]}.


{ port_env
, [ {"linux", "CXX", "ccache g++"}
  , {"linux", "CC", "g++"}    % CC is used to link
  , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11 -I c_src/ -I /usr/lib/erlang/lib/erl_interface/src/"}
  , {"linux", "EXE_LDFLAGS", "$EXE_LDFLAGS  -lcrypto -lboost_system"}
  ]
}.


{ provider_hooks
, [ { pre
    , [ {compile, {pc, compile}}
      , {clean, {pc, clean}}
      ]
    }
  ]
}.
