%
% fswatcher/rebar.config
%

{ port_specs
, [ {"linux", "priv/fswatcher", ["c_src/*.cpp"]}
  ]
}.


{artifacts, ["{{profile_dir}}/lib/fswatcher/priv/fswatcher"]}.


{ port_env
, [ {"linux", "CXX", "ccache g++"}
  , {"linux", "CC", "g++"}    % CC is used to link
  , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11  -I ${PWD}/lib/postoffice/include -I /usr/lib/erlang/lib/erl_interface-3.9.3/src"}
  , {"linux", "EXE_LDFLAGS", "$EXE_LDFLAGS  -L ${PWD}/lib/postoffice/priv -lcrypto -lboost_system -leixx"}
  ]
}.


{ provider_hooks
, [ { pre
    , [ {compile, {pc, compile}}
      , {clean, {pc, clean}}
      ]
    }
  ]
}.
