
{ include_erts, false }.
{ include_src, false }.
{ extended_start_script, true }.
{ sys_config, "priv/sys.config" }.
{ output_dir, "release" }.
{ lib_dirs, ["./apps/"] }.


{ release
, { {{name}}, "{{version}}"}
, [ {{name}}
  ]
}.
 
{ overlay
, [
%    { mkdir, "releases/\{\{release_name\}\}-\{\{release_version\}\}/logs" }
%    {copy, "rel/vm.args", "releases/\{\{release_version\}\}/vm.args"}
  ]
}.
