{variables,
    [ {name, "mysupervisor"}
    , {version, "1.0.0"}
    , {supervisorid, "{{name}}_sup"}
    , {serverid, "{{name}}"}
    ]
}.

{template, "supervisor.erl", "src/{{supervisorid}}.erl"}.