{variables
    [ {name, "mysupervisor"}
    , {version, "1.0.0"}
    , {supervisorid, "{{name}}_sup"}
    , {groupid, "{{name}}_group"}
    ]
}.

{template, "supervisor.erl", "src/{{supervisorid}}.erl"}.