{variables
    [ {name, "mysupervisor"}
    , {version, "1.0.0"}
    , {supervisorid, "{{name}}_group"}
    , {serverid, "{{name}}"}
    ]
}.

{template, "workersup.erl", "src/{{supervisorid}}.erl"}.