%
% postoffice/rebar.config
%

{ port_specs
, [ {"linux", "priv/libeixx.so", ["c_src/am.cpp"]}
  ]
}.


{artifacts, ["{{profile_dir}}/lib/postoffice/priv/libeixx.so"]}.


{ port_env
, [ {"linux", "CXX", "ccache g++"}
  , {"linux", "CC", "g++"}    % CC is used to link
  , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11 -I include"}
  ]
}.


{ provider_hooks
, [ { pre
    , [ {compile, {pc, compile}}
      , {clean, {pc, clean}}
      ]
    }
  ]
}.

