

{ port_specs
, [ {"linux", "priv/eixx_am.so", ["c_src/eixx/*.cpp"]}
  ]
}.


{artifacts, ["{{profile_dir}}/lib/postoffice/priv/eixx_am.so"]}.


{ port_env
, [ {"linux", "CXX", "ccache g++"}
  , {"linux", "CC", "g++"}    % CC is used to link
  , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11 -I c_src/ -I /usr/lib/erlang/lib/erl_interface/src/"}
  , {"linux", "EXE_LDFLAGS", "$EXE_LDFLAGS  -lcrypto -lboost_system"}
  ]
}.


{ provider_hooks
, [ { pre
    , [ {compile, {pc, compile}}
      , {clean, {pc, clean}}
      ]
    }
  ]
}.
